#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.answer {
  background-color: #535bf2;
  margin: 10px;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}